*.dcu
*.res
*.exe
*.xml
*.FDB
*.ini
/src/__history
/src/__recovery
/controllers/__history
/controllers/__recovery
/dao/__history
/dao/__recovery
/models/__history
/models/__recovery
/services/__history
/services/__recovery
/tests/__history
/tests/__recovery
/validators/__history
/validators/__recovery
/views/__history
/views/__recovery
*.local
*.~*~
*.identcache
